---
import Title from "./title.astro";
---
<section class="swipe-section section section-animation" id="projects" data-speed="1">
  <Title title="Projects" />
  <section class="panel light x-100"><h2 class="panel__number">2</h2></section>
  <section class="panel x-100"><h2 class="panel__number">3</h2></section>
  <section class="panel light x-100"><h2 class="panel__number">4</h2></section>
  <section class="panel light x-100"><h2 class="panel__number">5</h2></section>
  <section class="panel light x-100"><h2 class="panel__number">6</h2></section>
  <section class="panel light x-100"><h2 class="panel__number">7</h2></section>
</section>
